*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    background-image: url(../img/stussy.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}

#span {
    background-color: rgb(255, 255, 255);
    color: rgb(106, 109, 112);
    padding: 5px 20px;
}
.con1 h3 {
    text-align: center;
    padding-top: 300px;
    color: aliceblue;
}
.con1 h5 {
    text-align: center;
    text-decoration: none;
    padding: 40px;
}
.con1 h5 a {
    text-decoration: none;
    color: brown;
}
.nav1 {
    color: aliceblue;
}
.nav2 {
    color: brown;
}
.nav li {
    padding: 0 15px;
}
.img1 {
    width: 550px;
}
.img2 {
    width: 400px;
}
.img3 {
    background-image: url(../img/10\ deep.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img3 h4 {
    padding-left: 10px;
    padding-top: 340px;
    color: aliceblue;
}
.img4 {
    background-image: url(../img/palace.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img4 h4 {
    padding-left: 10px;
    padding-top: 300px;
    color: aliceblue;
}
.img5 {
    background-image: url(../img/nike.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img5 h4 {
    padding-left: 10px;
    padding-top: 370px;
    color: aliceblue;
}