*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    background-image: url(../img/stussy.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
}

#span {
    background-color: rgb(255, 255, 255);
    color: rgb(106, 109, 112);
    padding: 5px 20px;
}
.con1 h3 {
    text-align: center;
    padding-top: 300px;
    color: aliceblue;
}
.con1 h5 {
    text-align: center;
    text-decoration: none;
    padding: 40px;
}
.con1 h5 a {
    text-decoration: none;
    color: brown;
}
.nav1 {
    color: aliceblue;
}
.nav2 {
    color: brown;
}
.nav li {
    padding: 0 15px;
}

#con2 {
    margin-right: 50px;
}
.img1 {
    width: 450px;
    height: 520px;
    margin-top: 20px;
}
.img2 {
    width: 450px;
    height: 250px;
    margin-top: 20px;
}
.img3 {
    width: 450px;
    height: 250px;
    margin-top: 20px;
}

#col1, #col2, #col3 {
    position: relative;
}
#col1 h2, #col2 h2, #col3 h2 {
    position: absolute;
    bottom: 3px;
    left: 30px;
    background-color: aliceblue;
    padding: 10px 20px;
}

.img4 {
    width: 260px;
    height: 400px;
    margin-top: 20px;
}
#col4, #col5, #col6{
    position: relative;
}
#col4 h2, #col5 h2, #col6 h2 {
    position: absolute;
    bottom: 3px;
    left: 30px;
    background-color: aliceblue;
    padding: 10px 20px;
}

.navig2 {
    background-image: url(../img/brand.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    height: 660px;
    margin-top: 20px;
    text-align: center;
}

.navig2 h1 {
    padding-top: 220px;
    font-size: 100px;
    color: black;
}
.navig2 a {
    text-decoration: none;
    color: brown;
    font-size: 50px;
    background-color: rgba( 255,255,255,0.7);
    padding: 10px 30px;
}

footer {
    margin-top: 20px;
}
footer a {
    text-decoration: none;
    color: black;
}
.icon {
    margin-right: 20px;
}


